@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: #721fc0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    width: 100vw;
}

a:hover {
    background-color: #531091;
}


#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 311px;
    height: 627px;
    background: url(imagens/frame-iphone.png) no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 20px;
    width: 270px;
    height: 473px;
}